<nav class="menu menu-no-header">
  <ul class="menu-items">
    {% for link in site_setup.menulink_set.all %}
    {% if link.new_tab %}
      <li class="menu-item">
        <a target= "_blank"  class="menu-link" href="{{ link.url_or_path }}">{{ link.text }}</a>
      </li>             
    {% else %}
      <li class="menu-item">
        <a class="menu-link" href="{{ link.url_or_path }}">{{ link.text }}</a>
      </li>          
    {% endif %}

    {% endfor %}

    <li class="menu-item">
      <a class="menu-link" href="/admin/">Admin</a>
    </li>
  </ul>
</nav>
